<div ng-controller="AdminCrt">
    <div class="jumbotron">
            <h1>Управление</h1>
    </div>
    <div ng-show="auth">
        <div class="row">
            <h2>Добавить компьютер</h2>
        </div>
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <label for="inputName" class="sr-only">Название</label>
                    <input ng-model="computerName" type="text" class="form-control" id="inputName" placeholder="Название">
                </div>
                <div class="form-group mx-sm-3">
                    <label for="inputIP" class="sr-only">IP</label>
                    <input ng-model="computerIp" type="text" class="form-control" id="inputIP" placeholder="IP">
                </div>
                <button ng-click="addComputer()" type="submit" class="btn btn-primary">Добавить компьютер</button>
            </form>
        </div>
        <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>IP</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="comp in computers">
            <th scope="row">{{comp.id}}</th>
            <td>{{comp.name}}</td>
            <td>{{comp.ip}}</td>
            <td>{{comp.status}}</td>
        </tr>
       <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>-->
        </tbody>
    </table>
    </div>
</div>