<form ng-controller="SinginCrt" class="form-signin">
        <h2 class="form-signin-heading">Авторизация</h2>
        <label for="inputLogin" class="sr-only">Email</label>
        <input ng-model="email" type="email" id="inputLogin" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>

        <button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>